	<div class="container">
 <h2>View 2</h2>
	Name:<br />
  <input type="text" data-ng-model="species" /> {{ species }}
  <br />
	</div>
	<div  data-ng-controller="SimplePetController">
	<h3> Looping with the ng-repeat Directive</h3>
	<ul>
		<li data-ng-repeat="pet in pets | filter:species | orderBy:'name'">{{ pet.name }} is a {{ pet.species | lowercase }}.</li>
	</ul>
	</div>
