	<div class="container">
 <h2>View 1</h2>
	Name: <input type="text" data-ng-model="name" /> {{ name }}
	</div>
	<div  data-ng-controller="SimplePetController">
	<h3> Looping with the ng-repeat Directive</h3>
	<ul>
		<li data-ng-repeat="pet in pets | filter:name | orderBy:'name'">{{ pet.name }} is a {{ pet.species | lowercase }}.</li>
	</ul>
 <br/>
 Animal name: <br />
 <input type="text" data-ng-model="newAnimal.name" />
 <br/>
 Animal species: <br/>
 <input type="text" data-ng-model="newAnimal.species" />
 <br />
 <button data-ng-click="addAnimal()">Add Pet</button>
	</div>
<br/>
<a href="#/view2">View 2</a>