<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<title>Cat List</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
	<script src="https://code.angularjs.org/1.5.5/angular-route.min.js"></script>
	<script src="./js/benApp.js"></script>
</head>
<body ng-app="benApp" ng-controller="benCtrl">
	<div ng-repeat="cat in cats">{{cat.name}} - {{cat.breed}}</div>
</body>
</html>
