<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <title>Github Viewer with AngularJS</title>
    <script>document.write('<base href="' + document.location + '" />');</script>
    <link rel="stylesheet" href="style.css" />
    <script data-require="angular.js@1.3.x" src="https://code.angularjs.org/1.3.20/angular.js" data-semver="1.3.20"></script>
    <script src="app.js"></script>
  </head>

  <body  ng-app="githubViewer" ng-controller="MainController">
    <h1>{{message}}</h1>

    <div>{{error}}</div>

    <form name="searchUser">
      <input type="search" required placeholder="Username to find" ng-model="username" />
      <input type="submit" value="Search" ng-click="search(username)" />
    </form>

    <div>
      <h2>Name: {{user.name}}</h2>
      <h4>Location: {{user.location}}</h4>
      <img ng-src="{{user.avatar_url}}" title="{{user.name}}" />
    </div>
  </body>

</html>
