<!DOCTYPE html>
<html ng-app="store"><!--the name here is what is defined in the javascript file, this tells Angular to run this module when doc loads-->
  <head>
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css" />
  </head>
  <!--StoreController is the actual name of the contoller, 'store' is an alias to it-->
  <body class="list-group" ng-controller="StoreController as store">
    <!-- Product Container -->
    <div class="list-group-item" ng-repeat="product in store.products">
      <h3>
        {{product.name}}
        <em class="pull-right">{{product.price | currency}}</em>
      </h3>
      <!-- gem images -->
      <div class="gallery">
        <div class="img-wrap">
          <img ng-src="{{product.images[0]}}" />
        </div>
        <!-- FIXME: these thumbnails do not display correctly. Look into bootstrap's grid system -->
        <ul class="img-thumbnails clearfix">
          <li
              ng-repeat="image in product.images"
              class="img-thumbnail pull-left" >
            <img ng-src="{{image}}" />
          </li>
        </ul>
      </div>
    </div>
    <script type="text/javascript" src="./js/angular.min.js"></script>
    <script type="text/javascript" src="./js/app.js"></script>
  </body>
</html>
