<!DOCTYPE html>
<html lang="en" data-ng-app="demoApp">
<head>
	<title>Angular60</title>
</head>
<body>
	<div class="container">
	Name: <input type="text" data-ng-model="name" /> {{ name }}
	</div>
	<div  data-ng-controller="SimplePetController">
	<h3> Looping with the ng-repeat Directive</h3>
	<ul>
		<li data-ng-repeat="pet in pets | filter:name | orderBy:'name'">{{ pet.name }} is a {{ pet.species | lowercase }}.</li>
	</ul>
	</div>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js"></script>
<script>
  var demoApp = angular.module('demoApp',[]);//the brackets are where other modeules that demoApp relies on are loaded.
  //add a controller to the module 'demoApp' as an anonymous function
  demoApp.controller('SimplePetController',	function ($scope) {
		$scope.pets = [{name:'Kismet',species:'KITteh'},
		{name:'Bandit',species:'kitteH'},
		{name:'Ezio',species:'kitteh'},
		{name:'Flanagan',species:'goGGie'},
		{name:'Dottie',species:'goGGie'}];
	}
);
	</script>
</body>
</html>
