<!DOCTYPE html>
<html data-ng-app="" lang="en">
 <head>
  <title>Angular60</title>
 </head>
 <body>
  <div class="container">
   Name: <input data-ng-model="name" type="text" /> {{ name }}</div>
  <div data-ng-init="pets=[{name:'Kismet',species:'KITteh'},
  {name:'Bandit',species:'kitteH'},
  {name:'Ezio',species:'kitteh'},
  {name:'Flanagan',species:'goGGie'},
  {name:'Dottie',species:'goGGie'}]">
   <h3>
    Looping with the ng-repeat Directive</h3>
   <ul>
    <li data-ng-repeat="pet in pets | filter:name | orderBy:'name'">
     {{ pet.name }} is a {{ pet.species | lowercase }}.</li>
   </ul>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js"></script>
</html>
